.cards {
  border: 0.15rem solid $blue;
  border-radius: 0.5rem;
  overflow: hidden;
}

.badge {
  top: 0.5rem;
  right: 1rem;
  font-size: 1rem;
}

// .card-details {
//   width: 22vw;
//   height: auto;
// }
